*{
    margin: 0;
    padding: 0;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#body-center{
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#div-1{
    margin-bottom: 50px;
}



#div-1 > img{
    border-radius: 40px;
    align-items: center;
    width: 1200px;
    height: 70%;
}


body{
    background-image: linear-gradient(to right,rgb(250, 250, 195),rgb(255, 196, 0));
    padding: 50px 100px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/ban.png);
    border-radius: 20px;
}
main{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
article{
    background-color: white;
    width: 820px;
    height: 800px;
    overflow: auto;


}
aside{
    width: 420px;
    height: 1000px;
}
section{
    background-color: white;
    margin-bottom: 30px;
}
.head{
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.623);
}
.bo{
    padding: 20px;
}
input[type="text"]{
    padding: 10px;
    font-size: 20px;
}
button{
    padding: 10px;
    font-size: 20px;
}
.books{
    height: 150px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
article{
    font-size: 32px;
}

.b{
    padding: 50px;
}
.h{
    padding: 20px;
}

.search{

    margin: 10px;
    border-radius: 10px;
}
.search > h1{
    border-radius: 10px;
}

#btext{
    font-size: smaller;
}